<style>
  .section_article {
    font-family: 'Karla', sans-serif;
    color: #6E612B;
    padding-top: 0 !important;
  }
  .section_article .padding-global {
    padding-top: 0 !important;
  }
  .section_article .padding-section-medium {
    padding-top: 0 !important;
  }
  .section_article .container-large {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  .section_article .article_wrapper {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  .section_article h1 {
    font-family: 'Karla', sans-serif;
    color: #6E612B;
    font-size: 2rem;
  }
  .section_article .text-rich-text * {
    font-family: 'Karla', sans-serif !important;
    color: #6E612B !important;
  }
  .section_article .image-6 {
    border-radius: 10px;
  }
  .section_article .div-article-image {
    margin-bottom: 20px;
  }
</style>

<div class="padding-global padding-section-medium">
  <div class="container-large">
    <div class="article_wrapper">
      {% if article.image %}
        <div class="div-article-image">
          <img class="image-6" 
               src="{{ article.image | image_url: width: 600 }}" 
               alt="{{ article.image.alt | escape }}" 
               sizes="(max-width: 600px) 100vw, 600px"
               loading="lazy" 
               srcset="{{ article.image | image_url: width: 500 }} 500w, {{ article.image | image_url: width: 600 }} 600w">
        </div>
      {% endif %}
      <h1>{{ article.title }}</h1>
      <div class="text-rich-text w-richtext">{{ article.content }}</div>
    </div>
  </div>
</div>

{% schema %}
{
  "tag": "section",
  "name": "Article Content",
  "class": "section_article",
  "presets": [
    {
      "name": "Article Content",
      "category": "Liquify",
      "blocks": []
    }
  ],
  "enabled_on": {
    "templates": [
      "article"
    ]
  }
}
{% endschema %}
