<div class="padding-global padding-section-medium">
  <div class="container-large">
    <h2 class="heading-style-h2">
      {{ section.settings.text_heading }}
    </h2>
    <div class="spacer-medium"></div>
    <div class="blog_list-wrapper w-dyn-list">
      <div role="list" class="blog_list w-dyn-items">
        {% assign articles_count = 0 %}
        {% for article_item in blog.articles limit: 10 %}
          {% if article_item.id != article.id and articles_count < 3 %}
            {% assign articles_count = articles_count | plus: 1 %}
            <div role="listitem" class="blog_list-item w-dyn-item">
              <a href="{{ article_item.url }}" class="blog_item-grid w-inline-block">
                <div id="w-node-c45bff24-6242-fee4-5061-f2f14b06a7be-4b06a7bd" class="blog_tags-wrapper">
                  <img src="{{ article_item.image | image_url: width: 450 }}" 
                       loading="lazy" 
                       id="w-node-c45bff24-6242-fee4-5061-f2f14b06a7bf-4b06a7bd" 
                       alt="{{ article_item.image.alt | default: article_item.title }}" 
                       class="blog_img"
                       style="border-radius: 10px;">
                  <div class="blog_tag-row">
                    {% for tag in article_item.tags limit: 3 %}
                      <div class="blog_tag">
                        <div>{{ tag }}</div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div id="w-node-_6b97875b-5fce-9f5a-43fd-5792b69faf23-4b06a7bd" class="spacer-small"></div>
                <div class="blog_info-wrapper">
                  <h3 class="heading-style-h3">{{ article_item.title }}</h3>
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="hide w-dyn-empty"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "tag": "section",
  "name": "Related Articles",
  "class": "section_related-articles",
  "settings": [
    {
      "id": "text_heading",
      "type": "text",
      "label": "Heading",
      "default": "Autres articles de blog"
    },
    {
      "id": "articles_limit",
      "type": "range",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Nombre d'articles à afficher",
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Related Articles",
      "category": "Liquify",
      "blocks": []
    }
  ],
  "enabled_on": {
    "templates": [
      "article"
    ]
  }
}
{% endschema %}
