<div li-content-for-blocks="" class="rich-text-bloc-wrapper">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}
          {% when 'heading-h2' %}
            <div li-block="Heading-H2" class="h2-picker">
                   
           
                    <h2 class="heading-style-h2 centre">
{{ block.settings.text_heading }}
</h2>
                   
         
                </div>
          {% when 'h1-gros-titre' %}
            <div li-block="H1-gros-titre" class="h1-gros-text">
                   
           
                    <h1 class="heading-style-h1">
{{ block.settings.text_heading }}
</h1>
                   
         
                </div>
          {% when 'paragraph' %}
            <div li-block="paragraph" class="paragraphe-hp">
                   
           
                    <p class="paragraph">
{{ block.settings.text_paragraph }}
</p>
                   
         
                </div>
          {% when 'bouton' %}
            <div li-block="bouton" class="button-hp">
                   
           
                    <a href="{{ block.settings.url_link }}" class="w-button"> {{ block.settings.text_text }} </a>
                   
         
                </div>
        {% endcase %}
{% endfor %}
    </div>

{% schema %}
{
    "tag": "section",
    "name": "rich-text-bloc",
    "class": "rich-text-bloc-hp",
    "blocks": [
        {
            "name": "Heading-H2",
            "type": "heading-h2",
            "settings": [
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Heading"
                }
            ]
        },
        {
            "name": "H1-gros-titre",
            "type": "h1-gros-titre",
            "settings": [
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Heading"
                }
            ]
        },
        {
            "name": "paragraph",
            "type": "paragraph",
            "settings": [
                {
                    "id": "text_paragraph",
                    "type": "text",
                    "label": "Paragraph",
                    "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere."
                }
            ]
        },
        {
            "name": "bouton",
            "type": "bouton",
            "settings": [
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                },
                {
                    "id": "text_text",
                    "type": "text",
                    "label": "Text",
                    "default": "Button Text"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "rich-text-bloc",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "heading-h2"
                },
                {
                    "type": "h1-gros-titre"
                },
                {
                    "type": "paragraph"
                },
                {
                    "type": "bouton"
                }
            ]
        }
    ]
}
{% endschema %}
