<div li-content-for-blocks="" class="bloc-de-texte-wrapper">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

          {% when 'sous-titre' %}
            <div li-block="Sous-titre" class="bloc-titre-h2">
                    
            
                    <h2 class="heading-style-h2 centre">
{{ block.settings.text_heading }}
</h2>
                    
          
                </div>
          {% when 'grand-texte' %}
            <div li-block="Grand-texte" class="bloc-gros-texte">
                    
            
                    <h1 class="heading-style-h1 centre">
{{ block.settings.text_heading }}
</h1>
                    
          
                </div>
          {% when 'paragraphe' %}
            <div li-block="Paragraphe" class="bloc-paragraph">
                    
            
                    <p class="paragraph centre">
{{ block.settings.text_paragraph }}
</p>
                    
          
                </div>
          {% when 'bouton' %}
            <div li-block="Bouton" class="bloc-bouton-hp">
                    
            
                    <a href="{{ block.settings.url_link }}" class="button-2 w-button"> {{ block.settings.text_text }} </a>
                    
          
                </div>
        {% endcase %}
{% endfor %}

    </div> {% schema %} {
    "tag": "section",
    "name": "texte-bloc-home-page",
    "class": "v2-bloc-de-texte",
    "blocks": [
        {
            "name": "Sous-titre",
            "type": "sous-titre"
        },
        {
            "name": "Grand-texte",
            "type": "grand-texte"
        },
        {
            "name": "Paragraphe",
            "type": "paragraphe"
        },
        {
            "name": "Bouton",
            "type": "bouton"
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "texte-bloc-home-page",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "sous-titre"
                },
                {
                    "type": "grand-texte"
                },
                {
                    "type": "paragraphe"
                },
                {
                    "type": "bouton"
                }
            ]
        }
    ]
} {% endschema %}